@font-face {
 font-family: 'Roboto Regular';
 src: url(/static/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
 font-family: 'Roboto ThinItalic';
 src: url(/static/fonts/Roboto/Roboto-ThinItalic.ttf);
}
@font-face {
 font-family: 'Roboto Thin';
 src: url(/static/fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
 font-family: 'Roboto MediumItalic';
 src: url(/static/fonts/Roboto/Roboto-MediumItalic.ttf);
}
@font-face {
 font-family: 'Roboto Medium';
 src: url(/static/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
 font-family: 'Roboto LightItalic';
 src: url(/static/fonts/Roboto/Roboto-LightItalic.ttf);
}
@font-face {
 font-family: 'Roboto Light';
 src: url(/static/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
 font-family: 'Roboto Italic';
 src: url(/static/fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
 font-family: 'Roboto BoldItalic';
 src: url(/static/fonts/Roboto/Roboto-BoldItalic.ttf);
}
@font-face {
 font-family: 'Roboto Bold';
 src: url(/static/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
 font-family: 'Roboto BlackItalic';
 src: url(/static/fonts/Roboto/Roboto-BlackItalic.ttf);
}
@font-face {
 font-family: 'Roboto Black';
 src: url(/static/fonts/Roboto/Roboto-Black.ttf);
}

body {
 font-family: 'Roboto Regular', sans-serif;
 margin: 0;
}

b, strong {
 font-family: 'Roboto Bold';
}

i, em {
 font-family: 'Roboto Italic;
}

b i, i b, em strong, strong em, b em, em b, strong i, i strong {
 font-family: 'Roboto BoldItalic';
}
